/* ================ Extra small device =============== */

@media(max-width:575.98px){

    /* ============================= navbar operation start ============================= */

    .nav_wrapper {
        flex-direction: column;
    }
    .menu ul li a {
        color: #fff;
    }
    .menu ul {
        row-gap: 25px;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        padding: 25px 0;
    }
    .common-btn{
        padding-top: 25px;
    }
    .common-btn button {
        padding: 9px 13px;
        font-size: 14px;
        border: 2px solid red;
        color: #fff;
    }
    /* ======================== banner part operation start ======================== */
    .banner_wrapper{
        padding-top: 380px;
    }
    .banner-heading h1 {
        font-size: 25px;
        line-height: 35px;
    }
    .banner-heading p {
        font-size: 16px;
    }
    .analytic-btn {
        width: 100%;
    }
    .analytic-btn button {
        padding: 17px 12px;
    }
    /* ========================== wikipedia part operation start ======================= */

    #wikipedia {
        padding: 25px 0;
        background-color: aquamarine;
    }
    .wiki-wrapper a {
        font-size: 16px;
        text-align: center;
    }

    /* ===================== seo part operation start =========================== */

    .seo-wrapper {
        flex-direction: column;
    }
    .seo-right {
        width: 100%;
    }
    .seo-main {
        width: 100%;
    }
    .seo-main p {
        text-align: center;
        padding: 15px 0;
    }
    .seo-item {
        width: 100%;
    }
    .seo-conten h2 {
        font-size: 12px;
    }
    .seo-icon {
        height: 70px;
        width: 156px;
    }
    .seo-conten p {
        font-size: 13px;
        line-height: 20px;
        padding: 13px 0;
    }
    .seo-img {
        width: 100%;
        height: 200px;
        text-align: center;
    }
    /* ========================== trafic part operation start ======================== */
    .trafic-left {
        text-align: center;
        width: 100%;
    }
    .trafic-wrapper {
        flex-direction: column;
    }
    .trafic-right {
        width: 100%;
    }
    .progress {
        padding-bottom: 35px;
        justify-content: center;
    }
    .trafic-left p {
        font-size: 14px;
    }
    .trafic-left h2 {
        padding: 13px 0;
    }

    /* ====================== help part operation start ===================== */

    .common-heading h1 {
        font-size: 28px;
    }
    .help-wrapper {
        flex-direction: column;
    }
    .analytic-wrapper {
        flex-direction: column;
    }
    .analytic-img {
        width: 100%;
    }
    .analytic-content {
        width: 100%;
    }
    .analytic-content {
        text-align: center;
    }
    .analytic-content h2 {
        font-size: 26px;
    }
    .analytic-content p {
        font-size: 14px;
        padding: 22px 0;
    }
    .common-btn {
        padding: 10px 0;
    }
    .common-btn button {
        color: #000;
    }

    /* ========================= work part operation start ====================== */

    .work-wrapper {
        flex-direction: column;
    }
    .blog-wrapper {
        flex-direction: column;
    }
    .blog-main {
        width: 100%;
    }
    .work-heading{
        text-align: center;
    }
    .work-heading a{
        font-size: 18px;
    }
    .work-heading h1 {
        padding: 10px 0;
        font-size: 28px;
    }
    .blog-content {
        text-align: center;
        padding: 25px 0;
    }

    /* ====================== analytics operation start here ===================== */

    .analytic-main h1 {
        font-size: 20px;
    }
    .analytic-main p {
        font-size: 15px;
        padding: 15px 0;
    }
    .analytic-main {
        padding: 70px 0;
    }
    /* ========================== footer operation start ========================= */
    #footer {
        padding: 15px 0;
        background-color: #42e0f5;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-main {
        width: 100%;
        text-align: center;
    }
    .footer-main p {
        padding: 25px 0;
        font-size: 15px;
        color: #000;
    }
    .footer-main a {
        padding: 10px 0;
        color: #000;
        text-transform: capitalize;
    }
    .footer-main h1 {
        padding: 25px 0;
        color: #000;
    }
    /* ===================== copywrite part operation start ==================== */
    #copywrite {
        padding: 20px 0;
    }
    .left-copy h1 {
        font-size: 16px;
        line-height: 24px;
    }
    .copy-wrapper {
        column-gap: 10px;
        padding: 0 10px;
    }

}

/* ======================= Small device ============== */

@media(min-width:576px) and (max-width:767.98px){

        /* ============================= navbar operation start ============================= */
    
        .nav_wrapper {
            flex-direction: column;
        }
        .menu ul li a {
            color: #fff;
        }
        .menu ul {
            row-gap: 25px;
            align-items: center;
            flex-direction: column;
        }
        .logo{
            padding: 25px 0;
        }
        .common-btn{
            padding-top: 25px;
        }
        .common-btn button {
            padding: 9px 13px;
            font-size: 14px;
            border: 2px solid red;
            color: #fff;
        }
        /* ======================== banner part operation start ======================== */
        .banner_wrapper{
            padding-top: 380px;
        }
        .banner-heading h1 {
            font-size: 25px;
            line-height: 35px;
        }
        .banner-heading p {
            font-size: 16px;
        }
        .analytic-btn {
            width: 100%;
        }
        .analytic-btn button {
            padding: 17px 12px;
        }
        /* ========================== wikipedia part operation start ======================= */
    
        #wikipedia {
            padding: 25px 0;
            background-color: aquamarine;
        }
        .wiki-wrapper a {
            font-size: 16px;
            text-align: center;
        }
    
        /* ===================== seo part operation start =========================== */
    
        .seo-wrapper {
            flex-direction: column;
        }
        .seo-right {
            width: 100%;
        }
        .seo-main {
            width: 100%;
        }
        .seo-img {
            width: 100%;
            height: 200px;
            text-align: center;
            padding: 25px 0;
        }
        .seo-main p {
            text-align: center;
            padding: 15px 0;
        }
        .seo-item {
            width: 100%;
        }
        .seo-conten h2 {
            font-size: 12px;
        }
        .seo-icon {
            height: 120px;
            width: 156px;
        }
        .seo-conten p {
            font-size: 13px;
            line-height: 20px;
            padding: 13px 0;
        }
        /* ========================== trafic part operation start ======================== */
        .trafic-left {
            text-align: center;
            width: 100%;
        }
        .trafic-wrapper {
            flex-direction: column;
        }
        .trafic-right {
            width: 100%;
        }
        .progress {
            padding-bottom: 35px;
            justify-content: center;
        }
        .trafic-left p {
            font-size: 14px;
        }
        .trafic-left h2 {
            padding: 13px 0;
        }
    
        /* ====================== help part operation start ===================== */
    
        .common-heading h1 {
            font-size: 28px;
        }
        .help-wrapper {
            flex-direction: column;
        }
        .analytic-wrapper {
            flex-direction: column;
        }
        .analytic-img {
            width: 100%;
        }
        .analytic-content {
            width: 100%;
        }
        .analytic-content {
            text-align: center;
        }
        .analytic-content h2 {
            font-size: 26px;
        }
        .analytic-content p {
            font-size: 14px;
            padding: 22px 0;
        }
        .common-btn {
            padding: 10px 0;
        }
        .common-btn button {
            color: #000;
        }
    
        /* ========================= work part operation start ====================== */
    
        .work-wrapper {
            flex-direction: column;
        }
        .blog-wrapper {
            flex-direction: column;
        }
        .blog-main {
            width: 100%;
        }
        .work-heading{
            text-align: center;
        }
        .work-heading a{
            font-size: 18px;
        }
        .work-heading h1 {
            padding: 10px 0;
            font-size: 28px;
        }
        .blog-content {
            text-align: center;
            padding: 25px 0;
        }
    
        /* ====================== analytics operation start here ===================== */
    
        .analytic-main h1 {
            font-size: 20px;
        }
        .analytic-main p {
            font-size: 15px;
            padding: 15px 0;
        }
        .analytic-main {
            padding: 70px 0;
        }
        /* ========================== footer operation start ========================= */
        #footer {
            padding: 15px 0;
            background-color: #f5b942;
        }
        .footer-wrapper {
            flex-direction: column;
        }
        .footer-main {
            width: 100%;
            text-align: center;
        }
        .footer-main p {
            padding: 25px 0;
            font-size: 15px;
            color: #fff;
        }
        .footer-main a {
            padding: 10px 0;
            color: #fff;
        }
        .footer-main h1 {
            padding: 25px 0;
            color: #fff;
        }
        /* ===================== copywrite part operation start ==================== */
        #copywrite {
            padding: 20px 0;
        }
        .left-copy h1 {
            font-size: 16px;
            line-height: 24px;
        }
        .copy-wrapper {
            column-gap: 10px;
            padding: 0 10px;
        }
    
}

